.Rproj.user
.Rhistory
.RData
.Ruserdata
/data/solutions/representation_SI_scenarios_proportional.csv
/data/formatted-data/features_data_spp_fortargets.fst
/data/10km_NCPassets/
/data/ag_intensity/
/data/BIOCLIMA_G4M/
/data/BiogeoRegions2016_shapefile/
/data/BirdStatusTrends/
/data/CurrentCarbonDensity_Corine_/
/data/Dou_CropIntensity/
/data/EU_BiogeoRegions2016_shapefile/
/data/EU_NUTS2_GLOBIOM/
/data/GlobiomJune2024/
/data/HD_SpeciesHabitats/
/data/initial_lc_globiom/
/data/IntensityLayersPastureCrop/
/data/intermediate-data/
/data/landcover/
/data/linkages_species_habitats_MAES_datafiles_csv/
/data/ManagementInitialConditions/
/data/ManagementIntensity/
/data/Natura2000_end2021_Shapefile/
/data/NatureMap_currentCarbon/
/data/NUTS2021/
/data/plotting/
/data/PotentialCarbonDistribution/
/data/PotentialMAES/
/data/SpeciesData/
/data/StartingConditionGLOBIOM-CLC/
/data-formatted/
